
###> symfony/framework-bundle ###
/.idea
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
.env
/.env
/vendor/
###< symfony/framework-bundle ###
